.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.bucket-count {
  position:  absolute;
  border-radius:  50%;
  background: #cd323f;
  color:  white;
  width: 21px;
  height: 21px;
  font-size: 12px;
  text-align: center;
  padding: 2px 3px;
  top: -5px;
  right: -20px;
}

.header {
  background: rgba(255, 255, 255, 0.86);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header-nav {
  width: 100%;
  margin: 0!important;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  flex-basis: 600px;
}

.header-icons {
  display: flex;
  min-width: 90px;
  margin-left: 20px;
  align-items: center;
}

.header-icon i{
  color: #868686;
}

.header-icon {
  position: relative;
}

.header-icon + .header-icon {
  margin-left: 10px;
}

.search {
  border: none!important;
  border-radius: 0!important;
  background: #f8f2e1;
}

.search-control {
  border: none!important;
  background: #ffdb00!important;
  color: #868686!important;
  font-weight: bold!important;
}

.catalog-toggler {
  background: transparent!important;
  color: #868686!important;
  border: 1px solid #868686 !important;
  min-width: 135px;
}