<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
  <div class="footer-container">
    <ul>
      <li>
        <a href="">Про компанію</a>
      </li>
      <li>
        <a href="">Співробітництво</a>
      </li>
      <li>
        <a href="">Всі акції</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">Ми на зв'язку</a>
      </li>
      <li>
        <a href="">Клуб вигідних покупок</a>
      </li>
      <li>
        <a href="">Подарункові карти</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">Сервіс і допомога</a>
      </li>
      <li>
        <a href="">Оплата і доставка</a>
      </li>
      <li>
        <a href="">Зворотній зв'язок</a>
      </li>
    </ul>
  </div>
</footer>
</body>
</html>