<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
  <script src="/webjars/popper.js/1.12.9/dist/umd/popper.min.js"></script>
  <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div th:fragment="header" class="header">
  <div class="header-entry">
    <a th:href="@{/}"><div class="logo"></div></a>
    <div class="header-details">
      <div>
        <div class="call">(044) 537-02-22</div>
        <div>8:00 - 20:00</div>
      </div>

    </div>
  </div>
  <nav aria-label="breadcrumb" class="row header-nav">
    <div class="dropdown">
      <button th:inline="text"
              class="btn btn-secondary dropdown-toggle catalog-toggler" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
        [[#{main.catalog}]]
      </button>
      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <!--<li class="dropdown-divider"></li>-->
        <li class="dropdown-submenu" th:each="category,iterationStatus  : ${categories}">
          <a  class="dropdown-item" tabindex="-1" href="#" th:text="${category.name}"></a>
          <ul class="dropdown-menu" th:if="${not #lists.isEmpty(category.children)}">
            <th:block th:each="child,iterationStatus1  : ${category.children}">
              <a tabindex="-1" th:href="@{'~/goods/' + ${child.name}}" class="dropdown-item" th:text="${child.name}"></a>
            </th:block>
          </ul>
        </li>
      </ul>
    </div>

    <div class="header-info">
      <div class="input-group">
        <input type="text" class="form-control search" th:attr="placeholder=#{main.search}, aria-label=#{main.search}"
               aria-describedby="basic-addon2"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary search-control" th:text="#{main.find}" type="button">
          </button>
        </div>
      </div>

      <div class="header-icons">
        <a href="#" class=" header-icon">
          <i class="fa fa-user fa-lg" ></i>
        </a>
        <a href="#" class=" header-icon">
          <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
        </a>
        <a th:href="@{/bucket}" class=" header-icon">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
          <span class="bucket-count"></span>
        </a>
      </div>
    </div>



  </nav>
</div>
</body>
</html>