<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/goods.css}"/>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>
  <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

  <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
  <script src="/webjars/popper.js/1.12.9/dist/umd/popper.min.js" ></script>
  <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  <script th:src="@{/js/utils.js}" ></script>
  <script th:inline="javascript">
    $( function() {
      $( "#slider-range" ).slider({
        range: true,
        min: [[${minPrice}]],
        max: [[${maxPrice}]],
        values: [ [[${curMinPrice}]], [[${curMaxPrice}]] ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      });
      $( "#amount" ).val( "$" + [[${curMinPrice}]] +
          " - $" + [[${curMaxPrice}]] );
    } );

    function priceRqst() {
      var filterBy = {
        "$and": [
            {"price": {"$gte": $( "#slider-range" ).slider( "values", 0 )}},
            {"price": {"$lte": $( "#slider-range" ).slider( "values", 1 )}}
          ]
      };
      window.location.replace("?filterBy=" + encodeURI(JSON.stringify(filterBy)));
    }

    function filterByRqst(filterBy) {
      if(Object.keys(filterBy).length === 0) {
        window.location.replace(window.location.origin + window.location.pathname);
      } else {
        window.location.replace("?filterBy=" + encodeURI(JSON.stringify(filterBy)));
      }

    }

  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <title th:text="${category}"></title>
</head>
<body>
  <div class="container page-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <th:block th:each="cat, i : ${main_categories}">
          <li class="breadcrumb-item"
              th:classappend="${i.index == main_categories.size() - 1}?active:nothing"
              th:utext="${i.index == main_categories.size() - 1}?${cat.name}:
              '&lt;a href=&quot;#&quot;&gt;' + ${cat.name} + '&lt;/a&gt;'"></li>
        </th:block>
      </ol>
    </nav>

    <h3 th:text="${category}"></h3>

    <div class="row">
      <div class="col-3">
        <!--Filtering(Price, Maker, Rating)-->

        <div class="accordion" id="fliterAccordion">
          <div class="card">
            <div class="card-header" id="priceheadingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" th:text="#{filterBy.price}" type="button" data-toggle="collapse" data-target="#pricecollapseOne" aria-expanded="true" aria-controls="pricecollapseOne">
                </button>
              </h5>
            </div>

            <div id="pricecollapseOne" class="collapse show" aria-labelledby="priceheadingOne" data-parent="#fliterAccordion">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="amount" th:text="#{filterBy.price}"></label>
                    <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" th:readonly="readonly"/>
                    <div id="slider-range" class="form-text"></div>
                  </div>
                  <a onclick="priceRqst();" role="button" class="btn btn-primary" th:text="#{button.apply}"></a>
                </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="#{filterBy.maker}">
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#fliterAccordion">
              <div class="card-body">
                <div class="form-check" th:each="maker: ${makers}">
                  <input th:onclick="'filterByRqst(' + ${maker.value?
                  filterBuilder.renew().remove('maker', maker.key).build():
                  filterBuilder.renew().add('maker', maker.key).build()} + ');'"
                         class="form-check-input"
                         type="checkbox" value="" th:id="${maker.key} + checkbox" th:checked="${maker.value}"/>
                  <label class="form-check-label" th:for="${maker.key} + checkbox" th:text="${maker.key}">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Рейтинг
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#fliterAccordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <!--Sorting-->
        <div class="row">
          <div class="form-group form-inline col-4">
            <h5 th:text="#{sorting.name}"></h5>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 th:text="${sortingParamName}"
              >
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <th:block th:each="link: ${sortingLinks}">
                  <a class="dropdown-item" th:href="@{${link.url}}" th:text="${link.name}"></a>
                </th:block>
              </div>
            </div>
          </div>

          <!--Goods-->
          <div class="row" th:each="r, i : ${goodsByCategory}">

            <div class="col-4" th:each="prod, y : ${r}">
              <div class="card">
                <img class="card-img-top"
                     th:src="@{'~/image/' + ${prod.headImage.path}}"
                     alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title" ><a th:href="@{{category}/{id}(category=${main_category}, id=${prod.id})}" th:text="${prod.name}"></a></h5>
                  <div>
                    <th:block th:each="star: ${prod.ratingInStars()}">
                <span class="fa fa-star"
                      th:classappend="${star}?'checked':'nothing'"></span>
                    </th:block>
                  </div>
                  <h4><span class="badge badge-secondary" th:text="${prod.price}"></span></h4>
                </div>
              </div>
            </div>

          </div>

          <!--pagination-->
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
              <li class="page-item" th:classappend="${current == first} ?'disabled':'nothing'">
                <a class="page-link"
                   th:href="@{~/goods/{main}(main = ${main_category},
                     page=${current - 1},
                     sort_by = ${sortBy} __${filterBy != null?',filterBy=${filterBy}':''}__)}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <th:block th:each="pageIndex, i : ${pages}">
                <li class="page-item"
                    th:classappend="${pageIndex == current} ?'active':'nothing'">
                  <a class="page-link"
                     th:href="@{~/goods/{main}(main = ${main_category},
                     page=${pageIndex}, sort_by = ${sortBy} __${filterBy != null?',filterBy=${filterBy}':''}__)}"
                     th:text="${pageIndex}"></a></li>
              </th:block>
              <li class="page-item" th:classappend="${current == last} ?'disabled':'nothing'">
                <a class="page-link"
                   th:href="@{~/goods/{main}(main = ${main_category},
                     page=${current + 1}, sort_by = ${sortBy} __${filterBy != null?',filterBy=${filterBy}':''}__)}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>










  </div>
</body>
</html>