<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{login.page.name}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
        <div class="card" style="width: 18rem;">
          <div class="card-header" th:text="#{main.catalog}"></div>
          <ul class="list-group list-group-flush">
            <div class="dropright" th:each="category,iterationStatus  : ${categories}">
              <a href="#" class="list-group-item  list-group-item-action dropdown-toggle"
                 data-toggle="dropdown" th:text="${category.name}" th:id ="categories + ${category.id}"></a>
              <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
              <div th:if="${not #lists.isEmpty(category.children)}"
                  class="dropdown-menu"
                  th:attr="aria-labelledby='categories'+${category.id}" >
                <div th:each="child,iterationStatus  : ${category.children}">
                  <a class="dropdown-header" href="#"
                     th:text="${child.name}"></a>
                  <a class="dropdown-item" href="#"
                     th:each="grChild,iterationStatus1  : ${child.children}"
                     th:text="${grChild.name}"></a>
                </div>

              </div>
            </div>


          </ul>
        </div>
      </nav>
      <span th:text="'Message: ' + ${message}"></span>
    </div>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>